<div class = "container-fluid align-items-center bg-light">
	<h1 class = "text-center text-danger display-1"> Erro </h1>
	<p class = "text-center text-danger"> 
		Oops um erro acabou de acontecer.
	</p>
</div>
