<div class = "container align-items-center justify-content-center">
	<div class = "row text-center">
		<a href = "/developer/anime/add"> Cadastrar anime </a>
	</div>
	<div class = "row text-center">
		<a href = "/developer/filme/add"> Cadastrar filme </a>
	</div>
	<div class = "row text-center">
		<a href = "/developer/serie/add"> Cadastrar série </a>
	</div>
	<div class = "row text-center">
		<a href = "/developer/novela/add"> Cadastrar novela </a>
	</div>
	<div class = "row text-center">
		<a href = "/developer/musica/add"> Cadastrar música </a>
	</div>
	<div class = "row text-center">
		<a href = "/developer/genero/add"> Cadastrar gênero </a>
	</div>
</div>
