<div class="container">
	<h2 class = "text-center"> Cadastre um filme </h2>
	<form id = "cad" method = "post" action = "/developer/filme/add" autocomplete="off">
		<div class = "row justify-content-center">
			<div class = "col-auto">
				<div class="form-group">
					<label> Título </label>
					<input name = "titulo" id = "titulo" class = "form-control">
				</div>
				<div class = "form-group">
					<label> Ano </label>
					<select name = "ano" id = "ano" class="form-control form-select form-select-lg">
					  
					</select>
				</div>
				<div class="form-group">
					<label> Direção </label>
					<input name = "direcao" id = "direcao" class = "form-control">
				</div>
				<div class="form-group">
					<label> Duração </label>
					<input name = "duracao" id = "duracao" class = "form-control">
				</div>
				<div class="form-group">
					<label> Sinopse </label>
					<textarea name = "sinopse" id = "sinopse" class = "form-control"></textarea>
				</div>
			</div>
			<div class = "col-auto">
				<div class="form-group">
					<label> Título original </label>
					<input name = "titulo_original" id = "titulo_original" class = "form-control">
				</div>
				<div class="form-group">
					<label> Roteiro </label>
					<input name = "roteiro" id = "roteiro" class = "form-control">
				</div>
				<div class="form-group">
					<label> Foto </label>
					<input name = "foto" id = "foto" class = "form-control">
				</div>
				<div class="form-group">
					<label> Background foto </label>
					<input name = "bg_foto" id = "bg_foto" class = "form-control">
				</div>
			</div>
		</div>

		<div class = "container text-center"> 
			<button type = "submit" class = "btn btn-primary btn-lg"> Cadastrar </button>
		</div>
	</form>
</div> 

<script type = "text/javascript">
	$(document).ready(function() {
		let date = new Date(Date.now());
		let ano = date.getFullYear();
		for(let y = ano; y >= 1900; --y) {
			let option = $("<option></option>");
			option.text("" + y);
			option.val("" + y);
			$("#ano").append(option);
		}
	});

	$("#cad").on("submit", function(event) {
		let titulo = $("#titulo").val();
		let direcao = $("#direcao").val();
		let roteiro = $("#roteiro").val();
		let duracao = $("#duracao").val();
		let sinopse = $("#sinopse").val();
		let titulo_original = $("#titulo_original").val();
		let foto = $("#foto").val();
		let bg_foto = $("#bg_foto").val();
		let stop = false;

		let re = new RegExp("^\\d+$");
		
		if(titulo.length == 0) {alert("titulo está vazio"); stop = true;}
		else if(direcao.length == 0) {alert("direcao está vazio"); stop = true;}
		else if(roteiro.length == 0) {alert("roteiro está vazio"); stop = true;}
		else if(duracao.length == 0) {alert("duracao está vazio"); stop = true;}
		else if(!re.test(duracao)) {alert("duracao é só inteiro"); stop = true;}
		else if(sinopse.length == 0) {alert("sinopse está vazio"); stop = true;}
		else if(titulo_original.length == 0) {alert("titulo_original está vazio"); stop = true;}
		else if(foto.length == 0) {alert("foto está vazio"); stop = true;}
		else if(bg_foto.length == 0) {alert("background foto está vazio"); stop = true;}

		if(stop) event.preventDefault();
	});
</script>