<div class="container">
	<h2 class = "text-center"> Cadastre uma musica </h2>
	<form method = "post" action = "/developer/musica/register">
		<div class = "row justify-content-center">
			<div class = "col-auto">
				<div class="form-group">
					<label> Título </label>
					<input name = "titulo" class = "form-control">
				</div>
				<div class="form-group">
					<label> Artista </label>
					<input name = "artista" class = "form-control">
				</div>
			</div>
			<div class = "col-auto">
				<div class="form-group">
					<label> Youtube URL </label>
					<input name = "youtube" class = "form-control">
				</div>
			</div>
		</div>
		<div class = "container text-center"> 
			<button type = "submit" class = "btn btn-primary btn-lg"> Cadastrar </button>
		</div>
	</form>
</div> 
